@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

:root  {
  --background: 226 100% 100%;
  --foreground: 226 5% 10%;
  --card: 226 50% 100%;
  --card-foreground: 226 5% 15%;
  --popover: 226 100% 100%;
  --popover-foreground: 226 100% 10%;
  --primary: 226 100% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 226 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 188 30% 95%;
  --muted-foreground: 226 5% 40%;
  --accent: 188 30% 90%;
  --accent-foreground: 226 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 226 5% 100%;
  --border: 226 30% 82%;
  --input: 226 30% 50%;
  --ring: 226 100% 60%;
  --radius: 0.5rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}
.dark  {
  --background: 226 50% 10%;
  --foreground: 226 5% 100%;
  --card: 226 50% 10%;
  --card-foreground: 226 5% 100%;
  --popover: 226 50% 5%;
  --popover-foreground: 226 5% 100%;
  --primary: 226 100% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 226 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 188 30% 25%;
  --muted-foreground: 226 5% 65%;
  --accent: 188 30% 25%;
  --accent-foreground: 226 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 226 5% 100%;
  --border: 226 30% 50%;
  --input: 226 30% 50%;
  --ring: 226 100% 60%;
  --radius: 0.5rem;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* En tu archivo global.css */
@layer components {
  .tasks-table th {
    @apply font-semibold text-sm bg-muted/30;
  }
  .tasks-table td {
    @apply align-top;
  }
}
